

#GUI enable
CONFIG_FEATURE_GUI=n



#pins 9 and 2 are bootstrap
CONFIG_SD_SPI_HOST=1
CONFIG_SD_SPI_MOSI=10
CONFIG_SD_SPI_MISO=5    
CONFIG_SD_SPI_SCLK=8
CONFIG_SD_SPI_CS=7
CONFIG_SD_MOUNT_POINT="/sdcard"